!wp-content/
!.gitignore
!.editorconfig
~*
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip
wp-content/theme/twenty*/
wp-content/plugins/hello.php
wp-config.php
